
<!--Bootstrap Table-->

<table class="table">
  <thead>
    <tr [(ngModel)]="product.name" >
      <th scope="col">Brand</th>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <!-- <th scope="col">Handle</th> -->
    </tr>
  </thead>
  <tbody >
    <tr class="product" [class.selected]="selectedProduct && selectedProduct.name === product.name" *ngFor="let product of products" (click)="productSelected(product)">
      <th scope="row">{{product.name}}</th>
      <td>{{product.packaging}}</td>
      <td>{{product.price}}</td>
    </tr>
  </tbody>
</table>


<!-- get Api code below -->

<!-- <h3>Formatting with Pipes</h3> -->
<!-- <h2>Product page</h2>
<p>Name: {{product.name | uppercase}}
   Price: {{product.price | number: '1.2-2'}}
</p> -->

<!-- <h3>Two way data binding - Form Module</h3> -->
<!-- <div>
	<input [(ngModel)]="product.name">
		{{product.name}}
		{{product.price}}
</div>
 -->
<!-- <h3>List - Retrieving List using *ngFor</h3>
<ul>
	<li class="product" [class.selected]="selectedProduct && selectedProduct.name === product.name" *ngFor="let product of products" (click)="productSelected(product)">
		<input [(ngModel)]="product.name">
		{{product.name}}
		{{product.price}}
	</li>
</ul>
 -->


<app-product-detail [product]=selectedProduct></app-product-detail>


		